.select-box {
    position: relative;
    width: 370px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.select-box h6 {
    color: var(--light_blue);
    margin-bottom: 0;
    font-weight: 700;
    white-space: nowrap;
}

.select-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 275px;
    height: 100%;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--light_blue);
    background-color: transparent;
    border: none;
    border: 2px solid var(--light_blue);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    z-index: 2;
}

.select-box svg {
    position: absolute;
    top: 11px;
    right: 21px;
    color: var(--light_blue);
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width: 480px) {
    .select-box {
        width: 100%;
    }
}