.bottom-nav {
    background: rgba(44, 44, 108, .4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    color: red;
    z-index: 2;
}

.bottom-nav a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: calc(100% / 6); */
    color: #fff;
}

.bottom-nav a span {
    transition: all .2s;
}

.bottom-nav a:hover span,
a.active span {
    letter-spacing: 2px;
}

.bottom-nav a:hover,
a.active {
    color: var(--light_blue);
}

.bottom-nav a svg {
    font-size: 20px;
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width: 576px) {

    .bottom-nav {
        overflow: scroll;
    }

    .bottom-nav .container {
        width: auto;
        gap: 21px;
    }

    .bottom-nav::-webkit-scrollbar,
    .bottom-nav::-webkit-scrollbar-thumb {
        width: 0;
        height: 1px;
        border-radius: 0;
    }

    .bottom-nav::-webkit-scrollbar {
        background-color: transparent;
    }

    .bottom-nav::-webkit-scrollbar-thumb {
        background-color: var(--light_blue);
    }

}