.experience .experience-content {
    height: auto
}

.experience .experience-content .left,
.experience .experience-content .right {
    height: 100%;
    background-color: var(--navy_blue);
    border-radius: 22px;
    padding: 30px;
}

.experience .experience-content h5.title {
    margin-bottom: 30px;
    font-size: 19px;
    text-align: center;
    color: var(--light_blue);
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width: 767px) {
    .experience .experience-content {
        padding-bottom: 30px;
    }

    .experience .experience-content .right {
        margin-top: 20px;
    }
}