.single-proj-card {
    position: relative;
    height: auto;
    padding: 22px;
    margin-bottom: 20px;
    background-color: var(--navy_blue);
    border-radius: 22px;
}

/* here we edit the style [zoomIn] class that inside [wow libray]*/
.zoomIn {
    -webkit-animation: display .5s ease-in-out forwards;
    animation: display .5s ease-in-out forwards;
}

@-webkit-keyframes display {
    0% {
        opacity: 0;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes display {
    0% {
        opacity: 0;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.single-proj-card:hover {
    box-shadow: 0 0 10px rgba(255 255 255 / 12%);
}

.single-proj-card .img-box {
    width: 100%;
    height: 200px;
    border-radius: 13px;
    overflow: hidden;
}

.single-proj-card .img-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.single-proj-card .img-box+h3 {
    margin: 14px 0;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    white-space: nowrap;
}

.single-proj-card .skills-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 50px;
    margin-top: 17px;
}

.single-proj-card .skills-img-box img {
    width: 30px;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.single-proj-card .ribbon {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.single-proj-card .ribbon span {
    position: absolute;
    top: 30px;
    right: 2px;
    width: 200px;
    color: #fff;
    text-transform: capitalize;
    padding: 4px 0;
    display: block;
    transform: rotate(-45deg);
    background-color: var(--light_blue);
    text-align: center;
}

.single-proj-card .ribbon::before,
.single-proj-card .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    border-color: transparent #467a9e #467a9e transparent;
    border-style: solid;
    border-width: 7px;
}

.single-proj-card .ribbon::before {
    top: -2px;
    right: 32px;
}

.single-proj-card .ribbon::after {
    bottom: 32px;
    left: -2px;
}